<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<header th:replace="homePage :: header"></header>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <form th:action="@{/contract/create-contractDetail}" th:object="${contractDetailDto}" method="post">
                <input type="hidden" th:field="*{contractDetailId}" class="form-control"/>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Please enter the information below !</h4>
                    <hr>
                    <div style="margin: 0 7%">
                        <label class="col-md-4 control-label ">Contract Id</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{contract}"class="form-control" readonly/>
                        </div>
                        <label class="col-md-4 control-label ">Customer Name </label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{contract.customer.customerName}"class="form-control" readonly/>
                        </div>
                        <label class="col-md-4 control-label ">Attach Service</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{attachService}" class="custom-select">
                                <option th:each="c : ${attachServiceList}" th:value="${c.attachServiceId}"
                                        th:text="${c.attachServiceName}"></option>
                            </select>
                        </div>
                        <label class="col-md-4 control-label ">Quantity</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{quantity}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red">Error</div>
                        <input type="hidden" th:field="*{flag}" class="form-control"/>
                    </div>
                    <hr>
                    <div class="mb-0" style="margin: 0 90%">
                        <button type="submit" class="btn btn-warning m-2">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>