<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p th:replace="homePage :: header"></p>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <form th:action="@{/contract/edit}" th:object="${contractDto}" method="post">
                <input type="hidden" th:field="*{contractId}" class="form-control"/>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Please enter the information below !</h4>
                    <hr>
                    <div style="margin: 0 7%">
                        <input type="hidden" th:field="*{flag}" class="form-control"/>
                        <label class="col-md-4 control-label ">Start Date</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{contractStartDate}" class="form-control" readonly/>
                        </div>
                        <label class="col-md-4 control-label ">End Date</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{contractEndDate}" class="form-control" readonly/>
                        </div>
                        <input type="hidden" th:field="*{listAttachService}" class="form-control"/>
                        <label class="col-md-4 control-label ">Deposit</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{contractDeposit}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('contractDeposit')}" th:errors="*{contractDeposit}"
                             style="color: red">Error
                        </div>
                        <input type="hidden" th:field="*{contractTotalMoney}" class="form-control"/>
                        <label class="col-md-4 control-label ">Employee</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{employee}" class="custom-select">
                                <option th:each="c : ${employeeList}" th:value="${c.employeeId}"
                                        th:text="${c.employeeName}"></option>
                            </select>
                        </div>
                        <label class="col-md-4 control-label ">Customer</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{customer}" class="custom-select">
                                <option th:each="c : ${customerList}" th:value="${c.customerId}"
                                        th:text="${c.customerName}"></option>
                            </select>
                        </div>
                        <label class="col-md-4 control-label ">Service</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{services}" class="custom-select">
                                <option th:each="c : ${serviceList}" th:value="${c.serviceId}"
                                        th:text="${c.serviceName}"></option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-0" style="margin: 0 90%">
                        <button type="submit" class="btn btn-warning m-2">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>