<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    td {
      text-align: center
    }
  </style>
</head>
<body>
<div class="container-fluid p-0">
  <div class=" d-flex sticky-top " style="background: #EBE1FA">
    <div class="col-lg-10">
      <img style="padding: 3px 0 3px 10px" width="60px" height="60px" src="assets/image/furamalogo.png">
    </div>
    <div class="col-lg-2 d-flex justify-content-end">
      <img width="30px" height="30px"
           src="https://i2.wp.com/dl8.glitter-graphics.net/pub/1252/1252978iual7aoqdc.gif?zoom=2"
           style="margin: 15px 5px 0 5px">
    </div>
  </div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/image/f1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/image/f2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/image/f3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C6C6FA;margin: 3px 0">
    <div class="container-fluid">
      <div style="margin-left: 10%">
        <a class="navbar-brand" [routerLink]="['']">Home</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item" style="padding-left: 25%">
            <a class="navbar-brand" [routerLink]="['/employee-list']">Employee</a>
          </li>
          <li class="nav-item" style="padding-left: 25%">
            <a class="navbar-brand" [routerLink]="['/customer-list']">Customer</a>
          </li>
          <li class="nav-item" style="padding-left: 25%">
            <a class="navbar-brand" [routerLink]="['/service-list']">Service</a>
          </li>
          <li class="nav-item" style="padding-left: 25%">
            <a class="navbar-brand" [routerLink]="['/contract-list']">Contract</a>
          </li>
          <li class="nav-item" style="padding-left: 25%">
            <a class="navbar-brand" [routerLink]="['/contract-detail-list']">ContractDetail</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row px-0 mx-0">
    <div class="col-2 rounded-3" style="border: #C6C6FA solid 1px">
<!--      <div class="row">-->
        <div class="col m-2 mt-3">
          <div class="card h-100">
            <img src="https://furamavietnam.com/wp-content/uploads/2018/07/CULIRARY.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Ẩm thực</p>
            </div>
          </div>
        </div>
        <div class="col m-2">
          <div class="card h-100">
            <img src="https://furamavietnam.com/wp-content/uploads/2018/07/RECREATION.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
              <p class="card-text text-center">Giải trí</p>
            </div>
          </div>
        </div>
        <div class="col m-2">
          <div class="card h-100">
            <img src="https://furamavietnam.com/wp-content/uploads/2018/10/02.-ICP-ICP_Furama_Danang_-Ball-Room-4.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Sự kiện</p>
            </div>
          </div>
        </div>
<!--      </div>-->
    </div>
    <div class="col-10 rounded-3" style="border: #C6C6FA solid 1px">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div style="margin-top: 3px;height: 50px">
  </div>
  <div class="fixed-bottom" style="background: #EBE1FA">
    <p style="text-align: center;padding-top: 5px">Thanks you very much ! Best wish for you !</p>
  </div>
</div>
</body>
</html>
