<div class="mt-3 mb-3">
  <form [formGroup]="serviceForm" novalidate>
    <div class="alert" role="alert" style="margin: 0 7%;background-color: #E8E7F5">
      <h4 class="alert-heading" style="text-align: center">Please enter the information below !</h4>
      <hr>
      <div style="margin: 0 7%">
        <label class="col-md-4 control-label ">Service Code</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="serviceCode" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceCode?.valid && (serviceForm.controls.serviceCode?.dirty || serviceForm.controls.serviceCode?.touched)">
          <div [hidden]="!serviceForm.controls.serviceCode.errors.required">
            <p style="color: red">Service Code is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.serviceCode.errors.pattern">
            <p style="color: red">Service Code is not valid ( DV-xxxx ) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Service Name</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="serviceName" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceName?.valid && (serviceForm.controls.serviceName?.dirty
           ||serviceForm.controls.serviceName?.touched)">
          <p style="color: red">Service Name is not valid</p>
        </div>
        <label class="col-md-4 control-label ">Service Area</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="serviceArea" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceArea?.valid && (serviceForm.controls.serviceArea?.dirty || serviceForm.controls.serviceArea?.touched)">
          <div [hidden]="!serviceForm.controls.serviceArea.errors.required">
            <p style="color: red">Service Area is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.serviceArea.errors.min">
            <p style="color: red">Service Are is not valid ( >0 ) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Service Cost</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="serviceCost" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceCost?.valid && (serviceForm.controls.serviceCost?.dirty || serviceForm.controls.serviceCost?.touched)">
          <div [hidden]="!serviceForm.controls.serviceCost.errors.required">
            <p style="color: red">Service Cost is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.serviceCost.errors.min">
            <p style="color: red">Service Cost is not valid ( >0 ) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Service Max People</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="serviceMaxPeople" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceMaxPeople?.valid && (serviceForm.controls.serviceMaxPeople?.dirty || serviceForm.controls.serviceMaxPeople?.touched)">
          <div [hidden]="!serviceForm.controls.serviceMaxPeople.errors.required">
            <p style="color: red">Service Max People is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.serviceMaxPeople.errors.min">
            <p style="color: red">Service Max People is not valid ( >0 ) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Rent Type</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select formControlName="rentType" class="form-select" id="inputGroupSelect0">
            <option *ngFor="let item of rentTypes" [ngValue]="item">{{item.rentTypeName}}</option>
          </select>
        </div>
        <div
          *ngIf="!serviceForm.controls.rentType?.valid && (serviceForm.controls.rentType?.dirty
           ||serviceForm.controls.rentType?.touched)">
          <p style="color: red">Rent Type is required!</p>
        </div>
        <label class="col-md-4 control-label ">Service Type</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select formControlName="serviceType" class="form-select" id="inputGroupSelect01">
            <option *ngFor="let item of serviceTypes" [ngValue]="item">{{item.serviceTypeName}}</option>
          </select>
        </div>
        <div
          *ngIf="!serviceForm.controls.serviceType?.valid && (serviceForm.controls.serviceType?.dirty
           ||serviceForm.controls.serviceType?.touched)">
          <p style="color: red">Service Type is required!</p>
        </div>
        <label class="col-md-4 control-label ">Standard Room</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="standardRoom" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.standardRoom?.valid && (serviceForm.controls.standardRoom?.dirty
           ||serviceForm.controls.standardRoom?.touched)">
          <p style="color: red">Standard Room is required!</p>
        </div>
        <label class="col-md-4 control-label ">Description Other Convenience</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="descriptionOtherConvenience" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.descriptionOtherConvenience?.valid && (serviceForm.controls.descriptionOtherConvenience?.dirty
           ||serviceForm.controls.descriptionOtherConvenience?.touched)">
          <p style="color: red">Description Other Convenience is required!</p>
        </div>
        <label class="col-md-4 control-label ">Pool Area</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="poolArea" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.poolArea?.valid && (serviceForm.controls.poolArea?.dirty || serviceForm.controls.poolArea?.touched)">
          <div [hidden]="!serviceForm.controls.poolArea.errors.required">
            <p style="color: red">Pool Area is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.poolArea.errors.min">
            <p style="color: red">Pool Area is not valid ( >0 ) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Number Of Floor</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="numberOfFloor" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!serviceForm.controls.numberOfFloor?.valid && (serviceForm.controls.numberOfFloor?.dirty || serviceForm.controls.numberOfFloor?.touched)">
          <div [hidden]="!serviceForm.controls.numberOfFloor.errors.required">
            <p style="color: red">Number Of Floor is required!</p>
          </div>
          <div [hidden]="!serviceForm.controls.numberOfFloor.errors.min">
            <p style="color: red">Number Of Floor is not valid ( >0 ) !</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row table-responsive">
        <div class="col-1"></div>
        <div class="col-8">
          <button [routerLink]="['/service-list']" type="button" class="btn m-2" style="background-color: #9EDEED">
            Back to List Service
          </button>
        </div>
        <div class="col-3">
          <button (click)="onSubmit()" type="submit" class="btn m-2" style="background-color: #8ADA9E"
                  [disabled]="!serviceForm.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor"
                 viewBox="0 0 16 16">
              <path
                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
            </svg>
            Create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

