<div class="alert mt-3" role="alert" style="background-color: #E8E7F5">
  <h4 class="alert-heading">Information Contract : </h4>
  <div>
    <div class="card mb-3 rounded-3" style="width: 70%;margin:20px 15%">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="assets/image/contract.jpg" style="width: 100%">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <table style="text-align: center;width: 90%">
              <tr *ngFor="let co of contract">
                <td style="width: 20%"><img src="assets/image/icon.gif"></td>
                <td style="width: 40%">Start Date :</td>
                <td>{{co.contractDate.contractStartDate | date}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon.gif"></td>
                <td>End Date:</td>
                <td>{{co.contractDate.contractEndDate | date}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon.gif"></td>
                <td>Deposit:</td>
                <td>{{co.contractDeposit}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon3.gif"></td>
                <td>Total Money:</td>
                <td>{{co.contractTotalMoney}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon.gif"></td>
                <td>Employee:</td>
                <td>{{co.employee.employeeName}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon.gif"></td>
                <td>Customer:</td>
                <td>{{co.customer.customerName}}</td>
              </tr>
              <tr *ngFor="let co of contract">
                <td><img src="assets/image/icon.gif"></td>
                <td>Service:</td>
                <td>{{co.service.serviceName}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="table-responsive">
    <div class="mb-0" style="margin-left: 80%">
      <a [routerLink]="['/contract-list']">
        <button type="button" class="btn m-2" style="background-color: #9EDEED">Back to List Contract</button>
      </a>
    </div>
  </div>
</div>

