<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p th:replace="homePage :: header"></p>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <form th:action="@{/customer/edit}" th:object="${customerDto}" method="post">
                <input th:type="hidden" name="id" th:field="*{customerId}">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading" style="text-align: center">Please enter the information below !</h4>
                    <hr>
                    <div style="margin: 0 7%">
                        <input th:field="*{flag}" type="hidden" class="form-control">
                        <label class="col-md-4 control-label ">Customer Code</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input th:field="*{customerCode}" type="text" class="form-control" readonly>
                        </div>
                        <div th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Type</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{customerType}" class="custom-select">
                                <option th:each="c : ${customerTypeList}" th:value="${c.customerTypeId}"
                                        th:text="${c.customerTypeName}"></option>
                            </select>
                        </div>
                           <label class="col-md-4 control-label ">Customer Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{customerName}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Birthday</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="date" th:field="*{customerBirthday}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Gender</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <select th:field="*{customerGender}" class="custom-select">
                                <option th:value="0" th:text="Male"></option>
                                <option th:value="1" th:text="Female"></option>
                            </select>
                        </div>
                        <label class="col-md-4 control-label ">Customer Id Card</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{customerIdCard}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Phone</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{customerPhone}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Email</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{customerEmail}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" style="color: red">Error</div>
                        <label class="col-md-4 control-label ">Customer Address</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="/image/icon2.gif"></div>
                            </div>
                            <input type="text" th:field="*{customerAddress}" class="form-control"/>
                        </div>
                        <div th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}" style="color: red">Error</div>
                    </div>
                    <hr>
                    <div class="mb-0" style="margin: 0 90%">
                        <button type="submit" class="btn btn-warning m-2">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>