<div class="row m-2">
  <div class="col-sm-6">
    <div class="card">
      <img src="assets/image/furama5.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">PHÒNG SUPERIOR HƯỚNG HỒ</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="assets/image/furama6.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">PHÒNG DELUXE HƯỚNG BIỂN</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
      <img src="assets/image/furama7.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">PHÒNG SUITE HƯỚNG BIỂN</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
      <img src="assets/image/furama8.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">PHÒNG PRESIDENTIAL SUITE</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
      <img src="assets/image/furama11.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">BIỆT THỰ HƯỚNG VƯỜN CÓ HỒ BƠI RIÊNG</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
      <img src="assets/image/furama12.jpg" class="card-img-top" alt="..." style="height: 400px">
      <div class="card-body">
        <p style="text-align: center">BIỆT THỰ HƯỚNG BIỂN CÓ HỒ BƠI RIÊNG</p>
      </div>
    </div>
  </div>
<!--  <div class="col-sm-12 mt-3 p-3">-->
<!--    <div style="border: solid #C6C6FA;padding: 5px">-->
<!--      <a class="link-secondary text-decoration-none" href="/customer/money"><h5><img width="17px" height="17px" src="https://i1.wp.com/i646.photobucket.com/albums/uu185/vanhoai1111/th_68.gif?zoom=2" style="margin: 10px">Danh sách khách hàng đang sử dụng dịch vụ</h5></a>-->
<!--    </div>-->
<!--  </div>-->
</div>
