<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p th:replace="homePage :: header"></p>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Information Service :</h4>
                <div>
                    <div class="card mb-3" style="width: 90%;margin:20px 5%">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="/image/furama12.jpg" style="width: 100%">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">

                                    <table style="text-align: center;width: 90%">
                                        <tr><h5 class="card-title" th:text="${service.serviceName}"
                                                style="text-align: center"></h5></tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Service Code:</td>
                                            <td th:text="${service.serviceCode}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Service Area:</td>
                                            <td th:text="${service.serviceArea}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Cost:</td>
                                            <td th:text="${service.serviceCost}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Max People:</td>
                                            <td th:text="${service.serviceMaxPeople}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Rent Type:</td>
                                            <td th:text="${service.rentType.rentTypeName}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Service Type:</td>
                                            <td th:text="${service.serviceType.serviceTypeName}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Standard Room:</td>
                                            <td th:text="${service.standardRoom}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Description Other Convenience:</td>
                                            <td th:text="${service.descriptionOtherConvenience}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Pool Area:</td>
                                            <td th:text="${service.poolArea}"></td>
                                        </tr>
                                        <tr>
                                            <td><img src="/image/icon.gif"></td>
                                            <td>Number Of Floor:</td>
                                            <td th:text="${service.numberOfFloor}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="mb-0" style="margin-left: 80%">
                    <a href="/services">
                        <button type="button" class="btn btn-warning m-2">Back to List Service</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>