<div class="mt-3 mb-3">
  <form [formGroup]="contractDetailForm">
    <div class="alert" role="alert" style="margin: 0 7%;background-color: #E8E7F5">
      <h4 class="alert-heading" style="text-align: center">Please enter the information below !</h4>
      <hr>
      <div style="margin: 0 7%">
        <label class="col-md-4 control-label ">Contract</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon.gif"></span>
          <select [compareWith]="compareFn" formControlName="contract" class="form-select" >
            <option *ngFor="let item of contracts" [ngValue]="item">{{item.id}}</option>
          </select>
        </div>
        <div
          *ngIf="!contractDetailForm.controls.contract?.valid && (contractDetailForm.controls.contract?.dirty
           ||contractDetailForm.controls.contract?.touched)">
          <p style="color: red">Contract is not valid</p>
        </div>
        <label class="col-md-4 control-label ">Attach Service</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon.gif"></span>
          <select [compareWith]="compareFn" formControlName="attachService" class="form-select" id="inputGroupSelect03">
            <option *ngFor="let item of attachServices" [ngValue]="item">{{item.attachServiceName}}</option>
          </select>
        </div>
        <div
          *ngIf="!contractDetailForm.controls.attachService?.valid && (contractDetailForm.controls.attachService?.dirty
           ||contractDetailForm.controls.attachService?.touched)">
          <p style="color: red">Attach Service is not valid</p>
        </div>
        <label class="col-md-4 control-label ">Quantity</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="quantity" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!contractDetailForm.controls.quantity?.valid && (contractDetailForm.controls.quantity?.dirty || contractDetailForm.controls.quantity?.touched)">
          <div [hidden]="!contractDetailForm.controls.quantity.errors.required">
            <p style="color: red">Quantity is required!</p>
          </div>
          <div [hidden]="!contractDetailForm.controls.quantity.errors.min">
            <p style="color: red">Quantity is not valid (>=1) !</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="row table-responsive">
        <div class="col-1"></div>
        <div class="col-9">
          <button [routerLink]="['/contract-detail-list']" type="button" class="btn m-2" style="background-color: #9EDEED">
            Back to List Contract Detail
          </button>
        </div>
        <div class="col-2">
          <button (click)="editContractDetail()" type="submit" class="btn m-2" style="background-color: #8ADA9E"
                  [disabled]="!contractDetailForm.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor"
                 viewBox="0 0 16 16">
              <path
                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
            </svg>
            Edit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

