<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<header th:replace="homePage :: header"></header>
<div th:replace="homePage :: nav"></div>
<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">
            <ul th:replace="homePage :: left"></ul>
        </div>
        <div class="col-lg-10 pt-3 pb-3">
            <h5 style="text-align: center;color: #1e7e34">List Contract Detail</h5>
            <div th:if="${message}" class="alert alert-warning" role="alert">
                <span th:text="${message}" style="color: red;text-align: center"></span>
            </div>
            <a href="/contractDetail/create">
                <button type="button" class="btn btn-success m-2">Create New Contract Detail</button>
            </a>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="table-success">
                        <th scope="col">#</th>
                        <th scope="col">Contract</th>
                        <th scope="col">Attach Service</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="contractDetail,status : ${contractDetails}">
                        <th th:text="${status.count}"></th>
                        <td th:text="${contractDetail.contract.contractId}"></td>
                        <td th:text="${contractDetail.attachService.attachServiceName}"></td>
                        <td th:text="${contractDetail.quantity}"></td>
                        <td><a th:href="@{/contractDetail/edit}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal" th:onclick="|deleteContractDetail(${contractDetail.contractDetailId})|">
                                Delete
                            </button>
                        </td>
                        <td><a th:href="@{/contractDetail/view/__${contractDetail.contractDetailId}__ }">
                            <button type="button" class="btn btn-warning" >View</button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>


                <div>
                    <a class="btn btn-outline-success"
                       th:href="@{/contractDetail(page=${contractDetails.number - 1})}"
                       th:if="${contractDetails.hasPrevious()}"> <span style="font-weight: bold"> < </span>
                    </a>
                    <span th:each="p : ${#numbers.sequence(0,contractDetails.totalPages -1)}"
                          th:if="${contractDetails.hasContent()}">
                    <a class="btn btn-outline-success"
                       th:href="@{/contractDetail(page=${p})}" th:text="${p +1}"
                       th:if="${(p >(contractDetails.number)-1)&&(p <(contractDetails.number+2))}"></a></span>
                    <a class="btn btn-outline-success"
                       th:href="@{/contractDetail(page=${contractDetails.number + 1})}"
                       th:if="${contractDetails.hasNext()}">
                        <span style="font-weight: bold"> > </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Modal-->
<form action="/contractDetail/delete">
    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="id" name="id">
                <div class="modal-body">
                    <p>Are you sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Modal-->
<script>
    function deleteContractDetail(id) {
        document.getElementById('id').value = id;
    }
</script>
<footer th:replace="homePage :: footer"></footer>
</body>
</html>