<div class="mt-3 container-fluid mx-0 px-0 mb-3">
  <form [formGroup]="employeeForm" novalidate>
    <div class="alert" role="alert" style="margin: 0 7%;background-color: #E8E7F5">
      <h4 class="alert-heading" style="text-align: center">Please enter the information below !</h4>
      <hr>
      <div style="margin: 0 7%">
        <label class="col-md-4 control-label ">Code</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeCode" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeCode?.valid && (employeeForm.controls.employeeCode?.dirty || employeeForm.controls.employeeCode?.touched)">
          <div [hidden]="!employeeForm.controls.employeeCode.errors.required">
            <p style="color: red">Employee Code is required!</p>
          </div>
          <div [hidden]="!employeeForm.controls.employeeCode.errors.pattern">
            <p style="color: red">Employee Code is not valid ( NV-xxxx ) !</p>
          </div>
        </div>
        <div>
          <p style="color: red">{{message}}</p>
        </div>
        <label class="col-md-4 control-label ">Name</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeName" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeName?.valid && (employeeForm.controls.employeeName?.dirty
           ||employeeForm.controls.employeeName?.touched)">
          <p style="color: red">Name is required!</p>
        </div>
        <label class="col-md-4 control-label ">Birthday</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeBirthday" type="date" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeBirthday?.valid && (employeeForm.controls.employeeBirthday?.dirty
           ||employeeForm.controls.employeeBirthday?.touched)">
          <p style="color: red">Birthday is required!</p>
        </div>
        <label class="col-md-4 control-label ">Id Card</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeIdCard" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeIdCard?.valid && (employeeForm.controls.employeeIdCard?.dirty || employeeForm.controls.employeeIdCard?.touched)">
          <div [hidden]="!employeeForm.controls.employeeIdCard.errors.required">
            <p style="color: red">Employee Id Card is required!</p>
          </div>
          <div [hidden]="!employeeForm.controls.employeeIdCard.errors.pattern">
            <p style="color: red">Employee Id Card is not valid (9 or 12 number) !</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Salary</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeSalary" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeSalary?.valid && (employeeForm.controls.employeeSalary?.dirty
           ||employeeForm.controls.employeeSalary?.touched)">
          <p style="color: red">Salary is required!</p>
        </div>
        <label class="col-md-4 control-label ">Phone</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeePhone" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeePhone?.valid && (employeeForm.controls.employeePhone?.dirty || employeeForm.controls.employeePhone?.touched)">
          <div [hidden]="!employeeForm.controls.employeePhone.errors.required">
            <p style="color: red">Employee Phone is required!</p>
          </div>
          <div [hidden]="!employeeForm.controls.employeePhone.errors.pattern">
            <p style="color: red">Employee Phone is not valid!( 090xxxxxxx-(84)+90xxxxxxx-091xxxxxxx-(84)+91xxxxxxx )</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Email</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeEmail" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeEmail?.valid && (employeeForm.controls.employeeEmail?.dirty || employeeForm.controls.employeeEmail?.touched)">
          <div [hidden]="!employeeForm.controls.employeeEmail.errors.required">
            <p style="color: red">Employee Email is required!</p>
          </div>
          <div [hidden]="!employeeForm.controls.employeeEmail.errors.email">
            <p style="color: red">Employee Email is not valid!</p>
          </div>
        </div>
        <label class="col-md-4 control-label ">Address</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <input formControlName="employeeAddress" type="text" class="form-control" placeholder=""
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1">
        </div>
        <div
          *ngIf="!employeeForm.controls.employeeCode?.valid && (employeeForm.controls.employeeCode?.dirty
           ||employeeForm.controls.employeeCode?.touched)">
          <p style="color: red">Address is required!</p>
        </div>
        <label class="col-md-4 control-label ">Position</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select formControlName="position" class="form-select" id="inputGroupSelect01">
            <option *ngFor="let item of positions" [ngValue]="item">{{item.positionName}}</option>
          </select>
        </div>
        <div
          *ngIf="!employeeForm.controls.position?.valid && (employeeForm.controls.position?.dirty
           ||employeeForm.controls.position?.touched)">
          <p style="color: red">Position is required!</p>
        </div>
        <label class="col-md-4 control-label ">EducationDegree</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select formControlName="educationDegree" class="form-select"
                  id="inputGroupSelect02">
            <option *ngFor="let item of educations" [ngValue]="item">{{item.educationDegreeName}}</option>
          </select>
        </div>
        <div
          *ngIf="!employeeForm.controls.educationDegree?.valid && (employeeForm.controls.educationDegree?.dirty
           ||employeeForm.controls.educationDegree?.touched)">
          <p style="color: red">Education Degree is required!</p>
        </div>
        <label class="col-md-4 control-label ">Division</label>
        <div class="input-group mb-3">
          <span class="input-group-text"><img src="assets/image/icon2.gif"></span>
          <select formControlName="division" class="form-select" id="inputGroupSelect03">
            <option *ngFor="let item of divisions" [ngValue]="item">{{item.divisionName}}</option>
          </select>
        </div>
        <div
          *ngIf="!employeeForm.controls.division?.valid && (employeeForm.controls.division?.dirty
           ||employeeForm.controls.division?.touched)">
          <p style="color: red">Division is required!</p>
        </div>
      </div>
      <hr>
      <div class="row table-responsive">
        <div class="col-1"></div>
        <div class="col-9">
          <button [routerLink]="['/employee-list']" type="button" class="btn m-2" style="background-color: #9EDEED">
            Back to List Employee
          </button>
        </div>
        <div class="col-2">
          <button (click)="onSubmit()" type="submit" class="btn m-2" style="background-color: #8ADA9E"
                  [disabled]="!employeeForm.valid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor"
                 viewBox="0 0 16 16">
              <path
                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"/>
            </svg>
            Create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
